* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: cursive;

    --s: 150px;
    background:
        linear-gradient(135deg, #ff0b0b00 18.75%, #fcf2be 0 31.25%, #0000 0),
        repeating-linear-gradient(45deg, #fcf2be -6.25% 6.25%, #f9df90 0 18.75%);
    background-size: var(--s) var(--s);
}

h1 {
    padding: 2rem;
    text-align: center;
    place-items: center;
    font-size: 400%;
}

button {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: var(--button-color);
    border: none;
    padding: 0.6rem;
    border-radius: 10%;
    height: 3.5rem;
    font-size: 2rem;
}

button:hover {
    background-color: var(--button-bgcolor);
}

:root {
    --textfield-bgColor: #fffef8;
    --bgcolor: #f9f5de;
    --button-color: #fbde88;
    --button-bgcolor: #f3bc18;
}

main {
    padding: 2rem;
    .main-item {
        border: 2px solid #d1d4c5;
        padding: 1rem;
        max-width: 500px; 
        margin: 0 auto;
        
        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            h3 {
                margin: 1rem;
                font-size: 1.8rem;
                text-align: center;
            }
    
            .item-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 1rem;
                gap: 5rem;
    
                .item-left {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-right: 1rem; 
                    p{
                        border: 2px solid #d1d4c5;
                          border-style: dotted;
                          padding: 1rem;
                    }
                    img {
                        width: 10rem;
                    }
                }
                .item-right{
                    .price {
                        font-size: 1.2rem;
                        padding: 0.5rem;
                        width: 6rem; 
                        text-align: center; 
                        border: 1px solid #ccc; 
                    }
                    .counter {
                        display: flex;
                        align-items: center;
                        margin-top: 0.5rem;
                        button {
                            background-color: #f4f4f4;
                            border: 1px solid #ccc;
                            color: #333;
                            cursor: pointer;
                            padding: 0.5rem;
                            font-size: 1rem;
                        }
                        .quantity {
                            margin: 0 0.5rem;
                            font-size: 1.2rem;
                        }
                    }
                    
                }
            }
        }
    }
    
}


body { 
    display: grid;              
    place-items: center; 
    .container {
        border-radius: 5%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: var(--bgcolor);
        width: 80%;
        height: 95%;
        margin: 10rem;
        padding: 1.5rem;
        line-height: 2.5rem;
        font-size: clamp(1rem, 1vw, 2rem);

        header {
            padding: 2rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            place-items: center;
            button{
                height: 3.5rem;
                width: 4rem;
            }
            img {
                height: 15rem;
                width: 15rem;
            }
        }
        .main {
            .wallet-section {
                display: grid;              
                justify-content: center;
                border-radius: 5%;
                padding: 1rem;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                    .card {
                        height: 90%;
                    }
                    .Balance {
                        justify-content: space-evenly;
                        border: 2px solid #d1d4c5;
                        border-radius: 2rem;
                        display: flex;
                        flex-direction: column;
                        padding: 5rem;
                        height: 8rem;
                        label{
                            padding: 0.5rem;
                            font-size: 200%;
                        }
                        input{
                            border-radius: 5%;
                            height: 2.5rem;
                            font-size: 150%;
                            padding: 0.5rem;
                            font-family: cursive;
                            text-align: center;
                            background-color: var(--textfield-bgColor) ;
                        }
                    }
            }
        }
    }
}






